@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.5px;
  color: #DEDEDE;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

a {
color: #fff;
text-decoration: none;
transition: 0.4s;
}

a:hover {
  opacity: 0.6;
  transform: translateY(-6px);
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.logo::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 40px;
  background: url("portfolio/images/logo.svg") no-repeat center / contain;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 24px;
  font-weight: 800;
}

.header {
  background-color: #323232;
  padding: 20px 96px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  font-size: 18px;
  font-weight: 700;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
}

.welcome__desc {
  padding-top: 120px;
}

.welcome__title {
width: 500px;
font-weight: 700;
font-size: 54px;
line-height: 64px;
}

.welcome__text {
width: 410px;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #959595;
}

.mail-box {
  padding-top: 88px;
  padding-bottom: 145px;
}

.mail {
display: inline-flex;
align-items: center;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
padding: 16px 48px;
background: #9D9D9D;
border-radius: 4px;
gap: 10px;
}

.mail::before {
  content: "";
  background-image: url(portfolio/images/mail.svg);
  width: 21px;
  height: 16px;
}


.welcome__img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  transition: 220ms;

}

.welcome__img:hover {
  transform: translateY(-8px);
}

.block__img {
  padding-top: 120px;
}

.featured {
display: inline-flex;
align-items: center;
gap: 25px;
font-weight: 700;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #DEDEDE;
opacity: 0.7;
padding-bottom: 80px;
}

.featured::before {
  content: url(portfolio/images/arrow.svg);
  width: 16px;
  height: 33px;
}

.works__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-bottom: 240px;
}

.work__images {
object-fit: cover;
width: 612px;
height: 888px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg), #292929;
border-radius: 4px;

}

.main__title {
font-weight: 700;
font-size: 36px;
text-align: center;
letter-spacing: -0.5px;


}
.exploratins__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-top: 65px;
  padding-bottom: 240px;

}
.exploratins__img {
object-fit: cover;
width: 400px;
height: 408px;
background: url(.jpg), #292929;
border-radius: 4px;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-top: 65px;
  padding-bottom: 240px;
}

.project__img {
object-fit: cover;
width: 400px;
height: 560px;
background: url(.jpg), #292929;
border-radius: 30px;
transition: 220ms;
}

.project__img:hover {
  border-radius: 30px;
  transform: translateY(-8px);
}

.contact {
  padding-bottom: 125px;
}

.contact .container {
  max-width: 520px;
  text-align: center;

}
.contact__desc {
  box-shadow: #202020;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #959595;
  padding-bottom: 30px;
}

.poloska {
background: #696969;

}